@model CrestApps.Components.ViewModels.DateTimeRangeViewModel

<div class="col p-1">
    <label class="sr-only" asp-for="From"></label>
    <input type="text" class="form-control datetime-range-selector-from" asp-for="From" data-target-to="#@Html.IdFor(x => x.To)" required value="@Model.From?.ToString("M/d/yyyy h:m tt")">
</div>

<div class="col p-1">
    <label class="sr-only" asp-for="To"></label>
    <input type="text" class="form-control datetime-range-selector-to" asp-for="To" data-target-from="#@Html.IdFor(x => x.From)" required value="@Model.To?.ToString("M/d/yyyy h:m tt")">
</div>
