@model CloudSolutions.Surveys.ViewModels.InterviewPageBodyViewModel
@inject OrchardCore.ContentManagement.Display.IContentItemDisplayManager DisplayManager

@if (Model.Questions == null || !Model.Questions.Any())
{
    <div class="alert alert-warning">@T["No questions found on this page"]</div>

    return;
}

@foreach (var question in Model.Questions)
{
    var shape = await DisplayManager.BuildEditorAsync(question, Model.BuildContext.Updater, Model.BuildContext.IsNew, Model.BuildContext.GroupId);

    if (shape == null)
    {
        continue;
    }

    @await DisplayAsync(shape)
}
