@model CloudSolutions.Surveys.ViewModels.InterviewQuestionViewModel
@using OrchardCore.ContentManagement
@inject OrchardCore.ContentManagement.Display.IContentItemDisplayManager DisplayManager

@if (Model == null || Model.Controls == null)
{
    return;
}

<div class="card text-bg-default mb-3">
    <div class="card-header">
        @Model.Title
    </div>
    <div class="card-body">
        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            <div class="card-text">
                @Html.Raw(Model.Description)
            </div>
        }

        @foreach (ContentItem control in Model.Controls)
        {
            var prefix = $"question-{Model.QuestionId}_control-{control.ContentItemId}";
            var shape = await DisplayManager.BuildEditorAsync(control, Model.BuildContext.Updater, Model.BuildContext.IsNew, Model.BuildContext.GroupId, prefix);

            if (shape == null)
            {
                continue;
            }

            @await DisplayAsync(shape)
        }

    </div>
</div>
