@using CloudSolutions.Surveys.Core
@using CloudSolutions.Surveys.Models

@model ShapeViewModel<List<ReportParameterSettings>>

<li class="nav-item dropdown text-end">
    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">@T["Reports"]</a>

    <ul class="dropdown-menu dropdown-menu-end">
        @foreach (var item in Model.Value)
        {
            <li>
                <a class="dropdown-item" href=" @Url.Action("Display", "ReportParams", new { area = "CloudSolutions.Surveys", id = item.Id })">@item.Title</a>
            </li>
        }
    </ul>
</li>
