@model CloudSolutions.Surveys.ViewModels.DailyRestrictionViewModel

<li class="list-group-item">
    <div class="d-flex justify-content-between">
        <div>@Model.Title</div>
        <div>
            <select class="form-select" asp-for="Type" asp-items="Model.Types">
            </select>
        </div>
        <div>
            <div class="d-flex justify-content-between">
                <div>
                    <label asp-for="From" class="form-label"></label>
                    <input type="time" class="form-control" asp-for="From" />
                </div>

                <div>
                    <label asp-for="To" class="form-label"></label>
                    <input type="time" class="form-control" asp-for="To" />
                </div>
            </div>
        </div>
    </div>
</li>
